@model IEnumerable<ASMWebTest1Project.Models.Interactive>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.createOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comment)
        </th>
        
        
        <th>
            @Html.DisplayNameFor(model => model.Ideas.ideaTitle)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.createOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comment)
        </td>
        
        
        <td>
            @Html.DisplayFor(modelItem => item.Ideas.ideaTitle)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.interactiveID }) |
            @Html.ActionLink("Details", "Details", new { id=item.interactiveID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.interactiveID })
        </td>
    </tr>
}

</table>
