@model ASMWebTest1Project.Models.ChangePasswordModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />




<section class="home-section">
    <nav>
        <div class="sidebar-button">

            <span class="dashboard">Dashboard</span>
        </div>
        <div class="search-box" style="display: flex">
            @using (Html.BeginForm("IndexGuest", "Ideas", FormMethod.Get))
            {
                @Html.TextBox("Search_Data", ViewBag.FilterValue as string, new { @placeholder = "Search" })
                <input class="search" type="submit" value="     " /><i class="fa fa-search" style="font-size: 28px; position: absolute;left: 275px;top: 10px;"></i>
            }
        </div>
        <div class="profile-details">

            <span class="admin_name">
                Welcome, @Html.DisplayFor(modelItem => User.Identity.Name)
            </span>

        </div>
    </nav>

    <div class="home-content">


        <div class="sales-boxes">
            <div class="recent-sales box">
                <div class="sales-details" style="display:block">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="container" style="border:1px solid gray; border-radius: 30px; width: 40%">
                            <h2>ChangePassword</h2>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                            <div class="form-group">
                                <h4> Old Password</h4>
                                <div>
                                    @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <h4>New Password</h4>
                                <div>
                                    @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <h4>ConfirmNewPassword</h4>
                                <div>
                                    @Html.EditorFor(model => model.ConfirmNewPassword, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ConfirmNewPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="text-center">
                                    <input type="submit" value="Create" class="btn btn-success" />
                                </div>
                            </div>
                        </div>
                    }
                    <div>

                        <a href="~/Categories/Index">
                            <i class="bx bx-left-arrow-circle" style="width:100%;font-size:40px;"></i>
                        </a>



                    </div>

                </div>
            </div>

        </div>


    </div>
    @* ///////////////////////*@



    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</section>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>